/* rainow background */
@keyframes slide {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 600vw;
  }
}

.rainbox, #ex_bar {
  position: relative;
  top: calc(50% - 50px);
  background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, lime 14.28%, cyan 21.42%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
  background-size: 600vw 600vw;
  -webkit-animation: 'slide' 10s infinite linear forwards;
  height: 100px;
  line-height: 100px;
  padding-left: 50px;
  font-size: calc(12px + 3vw);
}
